WpfDentalClinicC/Connected Services/ServiceReference1/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:52879/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:52879/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:52879/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfService1.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_CountClient_InputMessage">
    <wsdl:part name="parameters" element="tns:CountClient" />
  </wsdl:message>
  <wsdl:message name="IService1_CountClient_OutputMessage">
    <wsdl:part name="parameters" element="tns:CountClientResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AddClient_InputMessage">
    <wsdl:part name="parameters" element="tns:AddClient" />
  </wsdl:message>
  <wsdl:message name="IService1_AddClient_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddClientResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllClients_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllClients" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllClients_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllClientsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllAdresses_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllAdresses" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllAdresses_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllAdressesResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AddAdress_InputMessage">
    <wsdl:part name="parameters" element="tns:AddAdress" />
  </wsdl:message>
  <wsdl:message name="IService1_AddAdress_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddAdressResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="CountClient">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/CountClient" message="tns:IService1_CountClient_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/CountClientResponse" message="tns:IService1_CountClient_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddClient">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AddClient" message="tns:IService1_AddClient_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AddClientResponse" message="tns:IService1_AddClient_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllClients">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetAllClients" message="tns:IService1_GetAllClients_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetAllClientsResponse" message="tns:IService1_GetAllClients_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllAdresses">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetAllAdresses" message="tns:IService1_GetAllAdresses_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetAllAdressesResponse" message="tns:IService1_GetAllAdresses_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddAdress">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AddAdress" message="tns:IService1_AddAdress_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AddAdressResponse" message="tns:IService1_AddAdress_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CountClient">
      <soap:operation soapAction="http://tempuri.org/IService1/CountClient" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddClient">
      <soap:operation soapAction="http://tempuri.org/IService1/AddClient" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllClients">
      <soap:operation soapAction="http://tempuri.org/IService1/GetAllClients" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllAdresses">
      <soap:operation soapAction="http://tempuri.org/IService1/GetAllAdresses" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddAdress">
      <soap:operation soapAction="http://tempuri.org/IService1/AddAdress" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:52879/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>